html {
    scroll-behavior: smooth;
  }
*{
    margin: 0;
    padding: 0;
}

body{
  background-color: #ffffff;
}
.container {
    max-width: 50%;
    margin: 0 auto;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    border-radius: 5px; */
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: #ffffff;
    cursor: pointer;
}

h1{
  margin-bottom: 1rem;
  text-shadow: 0rem 0.2rem 0.4rem black;
}

.border{
  padding-top: 1rem;
  border-top: 1px solid;
}
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: block;
    color: black;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.4s;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.1);
  }
  
    .accordion__label::after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    width: 12px;
    height: 6px;
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="50" xmlns="http://www.w3.org/2000/svg"><polygon points="0,0 100,0 50,50" style="fill:%23FFFFFF99;" /></svg>');
    background-size: contain;
    transition: transform 0.4s;
  }
  
  .accordion__content {
    background: #ffffff;
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
    transition: all 0.4s;
  }
  
  .accordion__input {
    display: none;
    
  }

  .accordion__input:hover ~ .accordion__content,
  .accordion__input:checked ~ .accordion__content {
    display: block;
    transition: all 0.4s;
  }
  
  .accordion__input:checked ~ .accordion__label::after {
    transform: translateY(-50%) rotate(0.5turn);
    transition: all 0.4s;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 320px;
    max-height: 320px;
    transition: all 0.4s;
  }
  