html {
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
}

body{
  background-color: #ffffff;
}
.container {
    max-width: 50%;
    margin: 0 auto;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    background: #ffffff;
    cursor: pointer;
}

h1{
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-shadow: 0rem 0.2rem 0.4rem black;
}

.border{
  padding-top: 1rem;
  border-top: 0.1rem solid;
}
  
  .accordion__label,
  .accordion__content {
    padding: 14px 20px;
  }
  
  .accordion__label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: rgb(187, 183, 183);;
    padding: 0.7rem;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.4s;
  }
  
  .accordion__label:hover {
    background: rgba(0, 0, 0, 0.3);
  }

  .arrow_btn {
    width: 1.2vw;
    height: 1.2vh;
    filter: invert(100%);
    margin-right: 0.9rem;
    transition: all 0.4s;
  }

  .mem_img {
    width: 0;
    height: 0;
    transition: all 0.4s;
  }

  .mem_container__title {
    font-size: 1.2rem;
    font-weight: 600;
    color:black;
    transition: all 0.4s;
  }
  
  .accordion__content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .accordion__input:checked~label .mem_img,
  .border:hover .mem_img,
  .border:focus .mem_img {
    width: 50%;
    height: 50%;
    padding: 0.8rem 0;
  }

  .container:hover .arrow_btn,
  .container:focus .arrow_btn {
    background: url('../cssBayan/img/arrow.svg') center/cover no-repeat;
  }

  .accordion__input:checked~label .arrow_btn,
  .border:hover .arrow_btn,
  .border:focus .arrow_btn {
    transform: rotate(-180deg);
  }

  .accordion__input:checked~label .mem_container__title,
  .container:hover .mem_container__title,
  .container:focus .mem_container__title {
    color: white;
    text-shadow: 0.05rem 0.05rem 0.1rem black;
  }
  .border,
  .accordion__label,
  .mem_img {
    cursor: pointer;
  }

  @media (max-width: 1200px) {
    container {
      max-width: 70%;
    }
  }

  @media (max-width: 890px) {
    .mem_container__title {
      font-size: 0.9rem;
    }
    .border:hover .mem_img {
      width: 0;
      height: 0;
      padding: 0;
    }
    .arrow_btn {
      background: url('../assets/arrow.svg') center/cover no-repeat;
    }
    .border:hover .arrow_btn {
      transform: rotate(0);
    }
    .container:hover .mem_container__title {
      color: black;
      text-shadow: none;
    }
    .accordion__input:checked~label .mem_img {
      width: 70%;
      height: 70%;
      padding: 0.5rem 0;
    }
  }

  @media (max-width: 720px) {
    .arrow_btn {
      width: 1.5vw;
      height: 1.5vh;
    }
  }

  @media (max-width: 370px) {
    h1 {
      font-size: 1.5rem;
    }
    .mem_container__title {
      font-size: 0.8rem;
    }
    .accordion__label {
      padding: 0.4rem;
    }
    .arrow_btn {
      margin-right: 0.5rem;
    }
    .accordion__input:checked~label .mem_img {
      width: 90%;
      height: 90%;
    }
  }